* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  list-style: none;
  outline: 0;
}
html {
  position: relative;
  background-color: #FFF;
  font: 300 18px/120% Helvetica, Arial, sans-serif;
  color: #666;
}
.transitions,
a,
.page {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
a {
  color: #000;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 120%;
  font-weight: 300;
}
strong,
b {
  font-weight: 700;
}
header,
footer,
nav,
article,
main {
  display: block;
}
.center {
  max-width: 840px;
  min-width: 280px;
  margin: 0 auto;
}
.margins {
  padding: 0 25px;
}
.blog-header {
  border-bottom: solid 1px #ECF0F1;
  background-color: #33485F;
}
.blog-header .table,
.blog-header .cell {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.blog-header .table {
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  width: 100%;
  height: 100px;
}
.blog-header .cell {
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog-header .cell:nth-child(2) {
  margin-left: auto;
}
.blog-header h1 {
  font-size: 1.4rem;
  color: #FFF;
}
.blog-header li {
  display: inline-block;
}
.blog-header li a {
  display: block;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: transparent;
  font-size: 0.8rem;
  color: #FFF;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  font-weight: 300;
}
.blog-header li a:active,
.blog-header li a.active {
  background-color: #FFF;
  color: #33485F;
  font-weight: 400;
}
.logo {
  margin: 0 auto;
}
.logo,
.logo svg {
  width: 60px;
  height: 60px;
}
.blog-footer {
  margin: 100px 0 25px;
}
.blog-footer p {
  padding-top: 5px;
  border-top: solid 1px #ECF0F1;
  font-size: 0.7rem;
  color: #CCC;
}
.meta .category {
  margin-right: 5px;
  padding: 2px 6px;
  background-color: #CCC;
  border-radius: 3px;
  font-size: 0.65rem;
  color: #FFF;
}
.meta a {
  text-decoration: none;
}
.meta a:active {
  background-color: #33485F;
  color: #FFF;
}
.meta time {
  font-size: 0.7rem;
  color: #CCC;
}
.home,
.post {
  margin-top: 50px;
}
.home article {
  position: relative;
  padding-left: 20px;
  margin-bottom: 40px;
}
.home article::before {
  position: absolute;
  left: 0;
  top: 7px;
  width: 10px;
  height: 10px;
  background-color: #33485F;
  border-radius: 10px;
  content: '';
}
.home article:last-child {
  margin-bottom: 0;
}
.home .title {
  margin-bottom: 4px;
  color: #33485F;
}
.home .title a {
  display: block;
  text-decoration: none;
}
.home .title a:active {
  text-decoration: underline;
}
.home h2 {
  font-size: 1.1rem;
}
.home p {
  font-size: 0.9rem;
}
.home .meta {
  margin-bottom: 10px;
}
.search-box {
  padding: 15px 0;
  background-color: #ECF0F1;
}
.search-box input {
  width: 100% !important;
  padding: 10px 14px 9px;
  border-radius: 5px;
  background-color: #FFF;
  box-sizing: border-box;
  font: 300 16px/100% Helvetica, Arial, sans-serif;
}
.search-box input::-webkit-input-placeholder {
  color: #CCC;
}
.search-box input:-moz-placeholder {
  color: #CCC;
}
.post-header {
  margin-bottom: 30px;
}
.post-header h2 {
  font-size: 1.8rem;
  color: #33485F;
}
.post-content {
  overflow: hidden;
}
.post-content p {
  margin-bottom: 14px;
  line-height: 140%;
  color: #666;
}
.post-content h2,
.post-content h3,
.post-content h4 {
  margin-top: 35px;
  margin-bottom: 15px;
  line-height: 120%;
  color: #000;
}
.post-content h2 {
  padding-bottom: 6px;
  margin-bottom: 20px;
  border-bottom: solid 1px #ECF0F1;
  font-size: 1.4rem;
}
.post-content h3 {
  font-size: 1.2rem;
  font-weight: 700;
}
.post-content h4 {
  font-size: 1.2rem;
  font-weight: 700;
}
.post-image {
  float: right;
  overflow: hidden;
  max-width: 200px;
  margin-bottom: 15px;
  margin-left: 20px;
}
.post-image img {
  float: right;
  width: 100%;
  height: auto;
}
.post-info {
  margin-top: 40px;
  border: solid 1px #ECF0F1;
}
.post-info h3 {
  padding: 8px 14px;
  border-bottom: solid 1px #ECF0F1;
  font-size: 0.9rem;
  line-height: 100%;
  color: #33485F;
  text-transform: uppercase;
  font-weight: 400;
}
.post-info ul {
  padding: 14px;
}
.post-info li,
.post-info p {
  font-size: 0.8rem;
  line-height: 120%;
}
.post-info li {
  margin-bottom: 6px;
}
.post-info li:last-child {
  margin-bottom: 0;
}
.post-info strong,
.post-info b {
  font-weight: 600;
}
