* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    list-style: none;
    outline: 0;
}

.box {
    max-width: 600px;
    margin: 30px auto;
    padding: 30px 0;
    border: solid 1px #DDD;
    background-color: #EEE;
}

.title, .date {
    font-family: Helvetica,Verdana,sans-serif;
    line-height: 100%;
    font-weight: 300
}

.title {
    padding: 15px 0;
    background-color: #666;
    font-size: 40px;
    color: #FFF;
    text-align: center;
}

.logo {
    overflow: hidden;
    width: 100px;
    padding: 5px;
    margin: 30px auto;
    background-color: #FFF;
    border-radius: 100%;
}
.logo img {
    width: 100%;
    height: auto;
}

.date {
    font-size: 16px;
    text-align: center;
}
